.hidden {
    display: none;
}

.form-table {
    margin: 0 auto;
    padding: 24px;
    border: 2px solid #555555;
}

.form-table td {
    width: 50%;
}

.form-table h1 {
    margin: 0px 0px 20px 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    color:#555555;
}

.form-table button {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form-table button:hover {
    background-color: #555555;
    color: white;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.form-table input {
    width: 76.2%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
}

.form-table input:focus {
    background-color: #555555;
    color: white;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.form-table input:focus::-webkit-input-placeholder {
    color: #555555;
}

#message-content {
    text-align: center;
}

#logout-content {
    text-align: center;
}

#welcome-text {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #333;
    height: 30px;
}

body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.dash-table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 48.96%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /*animation: float 5s infinite;*/
}

.dash-table table {
    width: 100%;
}

.dash-table th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.dash-table th:first-child {
  border-top-left-radius:3px;
}

.dash-table th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.dash-table tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.dash-table tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  cursor: pointer;
}

.dash-table tr:hover {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.dash-table tr:first-child {
  border-top:none;
}

.dash-table tr:last-child {
  border-bottom:none;
}

.dash-table tr:nth-child(odd) td {
  background:#EBEBEB;
}

.dash-table tr:nth-child(odd):hover td {
  background:#4E5066;
}

.dash-table tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

.dash-table tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

.dash-table td {
  background:#FFFFFF;
  padding: 0px;
  text-align: center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.dash-table td.entry {
    padding: 20px;
}

.dash-table th.public {
    width: 10%;
}

.dash-table th.taskno {
    width: 20%;
}

.dash-table th.schedule {
    width: 6%;
}
/* General Schedule styling */
.schedule-small-margin {
  margin: 5px 10px 5px 10px;
}

/* Schedule table style START */
.schedule-table {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  float: left;
  border-spacing: 10px 0px;
  text-align: center;
}

.schedule-table th {
  font-size: 1.2em;
}

.no-task {
  background-color: green;
  height: 30px;
  width: 200px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
}

.ok-task {
  background-color: red;
  width: 200px;
}

.task-counter {
  height: 30px;
}

/* Schedule table style END */

/* Empty schedule styling START */
.hv-centered-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 200px;
  border-radius: 3px;
  text-align: center;
}

.hv-centered-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* Empty schedule styling END */

.prof-table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 48.96%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.prof-table table {
    width: 100%;
}

.prof-table th.table-head {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.prof-table td:first-child {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.prof-table th:first-child {
  border-top-left-radius:3px;
}

.prof-table th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.prof-table tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.prof-table tr:hover td:last-child {
  background:#4E5066;
  color:#FFFFFF;
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.prof-table td {
  background:#EBEBEB;
}

.prof-table td {
  background:#EBEBEB;
}

.prof-table td:first-child {
  border-bottom-left-radius:35px;
}

.prof-table td {
  background:#FFFFFF;
  padding:20px;
  text-align: center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.prof-table td:last-child {
    width: 10%;
}

.prof-table td:first-child {
    width: 25%;
}

.prof-table tr:nth-child(odd) td:last-child {
  background:#EBEBEB;
}

.prof-table tr:nth-child(odd) td:nth-child(even) {
  background:#EBEBEB;
}

.prof-table tr:nth-child(odd):hover td:last-child {
  background:#4E5066;
}


.item-name-input {
    width: 90.5%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: auto;
}

.create-row-input-td input:focus {
    background-color: #555555;
    color: white;
    transition-duration: 0.4s;
}

.create-row-input-td input:focus::-webkit-input-placeholder {
    color: #555555;
    transition-duration: 0.4s;
}

.create-button {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #555555;
    color: white;
    transition-duration: 0.4s;
}

.create-row-input-td {
    margin: 5px;
    padding: 5px;
    height: 61px;
    width: 90%;
}

.create-row-button-td {
    margin: 5px;
    padding: 5px;
    width: 10%;
}

.task-button {
    width: 15%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}

.task-button:hover {
    background-color: #555555;
    color: white;
    transition-duration: 0.4s;
}

.task-edit-input {
    width: 22.5%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
}

.task-edit-input:focus {
    background-color: #555555;
    color: white;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.task-edit-input input:focus::-webkit-input-placeholder {
    color: #555555;
}

.task-edit-button {
    width: 15%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.task-edit-button:hover {
    background-color: #555555;
    color: white;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.task-title h1 {
   color: #fafafa;
   font-size: 50px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.task-description h1 {
   color: #fafafa;
   font-size: 36px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.squid {
    width: 290px;
}

#sound-content {
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
}